.metismenu {
    font-size: 12pt;
    font-weight: 600;
    position: relative;
    width:220px;
}

.mini-navbar .metismenu {
    width: 70px
}

.metismenu > .metismenu-container > .metismenu-item > .metismenu-link {
    line-height: 2.5em;
}
.metismenu > .metismenu-container > .metismenu-item > .metismenu-link .metismenu-state-icon {
    line-height: 2.5em;
}
.metismenu::after {
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5) inset;
    content: " ";
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.metismenu-container,
.metismenu-item {
    margin: 0;
    padding: 0;
}
.metismenu-container {
    list-style: none;
}
.metismenu-container .metismenu-container {
    box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
    -webkit-box-shadow: 0 0.3em 0.3em -0.3em #0c0d0e inset, 0 -0.3em 0.3em -0.3em #0c0d0e inset;
    transition: padding 300ms;
    -webkit-transition: padding 300ms;
    background: rgba(255, 255, 255, 0.05);
}
.metismenu-container .metismenu-container .metismenu-item > .metismenu-link {
    height: 0;
    overflow: hidden;
}

.mini-navbar .metismenu-state-icon {
    display: none;
}
.mini-navbar .metismenu-container .metismenu-container.visible {
    width:70px;
}

.mini-navbar .metismenu-container .metismenu-container .metismenu-item > .metismenu-link {
    padding-left: 10px;
}

.mini-navbar .metismenu-container .metismenu-container .metismenu-item > .metismenu-link > .nav-label {
    visibility: hidden;
}

.metismenu-container.visible {
    padding: .5em 0;
}
.metismenu-container.visible > .metismenu-item > .metismenu-link {
    height: 2.5em;
}
.metismenu-link {
    color: #DDD;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    transition: height 300ms, color 300ms, background-color 300ms;
    -webkit-transition: height 300ms, color 300ms, background-color 300ms;
    display: block;
    line-height: 2.5em;
    text-decoration: none;
}
.metismenu-link:hover {
    background: rgba(255, 255, 255, 0.05);
    color: #f7f7f7;
}
.metismenu-link.active {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #1ab394;
    color: #FFF;
}
.metismenu-link.has-active-child {
    color: #1ab394;
}
I.metismenu-icon {
    text-align: center;
    width: 3em;
}
I.metismenu-state-icon {
    transition: transform 300ms;
    -webkit-transition: transform 300ms;
    float: right;
    line-height: 2.5em;
    text-align: center;
    width: 3em;
}
I.metismenu-state-icon.rotate-minus-90 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

/* 2018-12-06 update dropdown-menu width */
.dropdown-menu {
    min-width: 4.5rem;
}

.dropdown-item {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    text-align:center !important;
}

.dropdown-item:hover {
    background-color: #e5eaff;
    cursor: pointer;
}

.dropdown-menu-user {
    margin: 14px 35px 14px;
    font-size: 14px !important;
}

.dropdown-menu-user-item {
    line-height: 2em;
    text-align: center;
    color: #999c9e;
}

.margin-bottom-0 {
    margin-bottom: 0;
}